<!DOCTYPE html>
<html>	
	<head>
		<title id="titre"> <%= title %> </title>
		<SCRIPT LANGUAGE="Javascript" SRC="./Projet.js"></SCRIPT>
		<script>

			const req = new XMLHttpRequest();
			var conversation = <%= conversation %>

			function affichage(){
		
				var g = document.getElementById('canvas');
				var ctx = g.getContext('2d');
		    	ctx.fillStyle = 'green';
				ctx.fillRect(0, 0, 200, 200);
			}

		</script>
	</head>

		<style>

		/**
		*Permet d'aligner les textes au centre de l'écran
		*/
		.text-center{
		    text-align:center;
		    margin-left:auto;
		    margin-right:auto;
		}

	</style>

	<body onload='affichage()'>
		<form action="/interface" method="post">
			<div class="text-center">
			<canvas id="canvas" width="300" height="80"></canvas>	
			</div>
			<input type="submit" name="Envoyer" value="Envoyer" width="300">
		</form>
	</body>
</html>
